<header>
    <h1>Angular 8 Video Player Example</h1>
    <p>Click on the "Play/Pause" button to play or pause the video.</p>
    <button routerLink="/main">Video 1</button>
    <button routerLink="/main2">Video 2</button>
    <button routerLink="/main3">Video 3</button>
</header>
<div class="container">
    <div class="video-container">
        <video #myVideo width="1000" controls>
            <source src="assets/video naam" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="settings-container">
        <p>Tijd weergeven in seconden!</p>
        <label>
            Start iteratie:
            <input type="number" [(ngModel)]="startTime" placeholder="Start tijd">
        </label>
        <br>
        <label>
            Min tijd tussen iteraties:
            <input type="number" [(ngModel)]="minTime" placeholder="Minimale tijd">
        </label>
        <br>
        <label>
            Max tijd tussen iteraties:
            <input type="number" [(ngModel)]="maxTime" placeholder="Maximale tijd">
        </label>
        <br>
        <label>
            Min aantal iteraties:
            <input type="number" [(ngModel)]="minPauses" placeholder="Min aantal iteraties">
        </label>
        <br>
        <label>
            Max aantal iteraties:
            <input type="number" [(ngModel)]="maxPauses" placeholder="Max aantal iteraties">
        </label>
        <br>
        <button (click)="playPauseVideo(myVideo)">Play/Pause</button>
    </div>
</div>


